body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 80%);
}
button{
    background-color: lightgray;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 40%);
    color: white;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
}
#allButtons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 20px;
}
#calculator{
    font: arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    font-size: 5rem;
    text-align: left;
    border: none;
    width: 100%;
    padding: 20px;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
.operator-btn{
    background-color: hsl(180, 100%, 30%);
}
.operator-btn:hover{
    background-color: hsl(180, 100%, 40%);
}
.operator-btn:active{
    background-color: hsl(180, 100%, 45%);
}
button:hover{
    background-color: hsl(0, 0%, 50%);;
}
button:active{
    background-color: hsl(0, 0%, 60%);
}